}

#denglu {
    height: 88px;
}



#ban {
    width: 100%
}

#daohang {

    background: #000000;

}

#men {
    border-radius: 0;
}

.caidan {
    margin-top: 40px;

}

#deng {

    text-align: right;

}

#smban {
    margin-top: 19px;




}

.fo {
    margin-top: 21px;
    font-size: 24px;

}



a {
    border-radius:0;
}
